{% extends 'frontend/layouts/base.html' %} 
{% load static %} 
{% block content %}
{% load widget_tweaks %}
{% include 'frontend/layouts/single.html' %}

    <!-- Preloader Starts -->
       <div class="wrapper">
        <div class="container-fluid user-auth">
            <div class="hidden-xs col-sm-4 col-md-4 col-lg-4">
                <!-- Logo Starts -->
                <a class="logo" href="{% url 'home' %}">  <h3 style="color:white">{{ website_name }}</h3>
                </a>
                
                <!-- Logo Ends -->
                <!-- Slider Starts -->
                {% include 'frontend/layouts/slide.html' %}

                <!-- Slider Ends -->
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            
                
                <!-- Logo Ends -->
                <div class="form-container">
                    <div>
                        <!-- Main Heading Starts -->
                    <div class="text-center top-text" id="login">
                        <h1 style="font-size:30px"><span>Forgot</span> Password</h1>
                    </div>

                    <div class="text-center top-text">
                        Your password has been set. You may go ahead and <a href="{% url 'login' %}">login in</a> now.
                    </div>
                   
                    </div>
                </div>

                   <p class="text-center copyright-text"><a style="font-weight:600" href="{% url 'home' %}" target="_blank">Created by {{ created_by }}</a> | {% now "Y" %} © <a href="{% url 'home' %}">{{ site_link }}</a></p>
                   
            </div>
        </div>
    </div>
</body>



{% endblock %}