{% extends 'backend/layouts/base.html' %} 
{% load static %} 
{% block content %}
{% load widget_tweaks %}
<!-- Topbar -->
        <!-- Container Fluid-->
        <div class="container-fluid" id="container-wrapper">
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
              <h1 class="h3 mb-0 text-gray-800">Profile</h1>
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Profile</li>
              </ol>
            </div>
              
              <div class="row">
              <div class="col-lg-6">
                <!-- Form Basic -->
                <div class="card mb-4">
                    <div class="card-body">
                        {% if messages %}
					  {% for message in messages %}
						{% if message.tags == 'warning' %} 
						  <p class="alert alert-danger">{{ message }}</p>
						  {% elif message.tags == 'success' %}
						  <p class="alert alert-success">{{ message }}</p>
						{% endif %}
					  {% endfor %}
					  
					  {% endif %}
                        <form method="post" name="frm1" id="data_form">
                            {% csrf_token %}
                            {% for field in user_form %}
                           
                            <div class="form-group">
                                {{ field.label_tag }}
                                 {{ field|add_class:"form-control" }}
                            </div>
                            {% endfor %}

                        {% for field in profile_form %}
                           
                        <div class="form-group">
                            {{ field.label_tag }}
                             {{ field|add_class:"form-control" }}
                        </div>
                        {% endfor %}
                      
                      <div class="form-group">
                          <button  id="save" class="btn btn-primary">Save</button>					
                      </div>	
                      </form>
                                    
                          
                  </div>
                </div>
               </div>
              </div>						
          </div>
          <!---Container Fluid-->
        </div>

        {% endblock %}