{% load static %}
<body class="big-triangle" style="background:white"><div class='loader startloading' style='position: fixed;   width: 100%;   height: 100%;z-index: 9999999!important;  background: rgba(255,255,255,.73);   vertical-align: middle; display: none;  top: 0;   left: 0; font-family: sans-serif;'> 
    <div style="position: fixed;top: 50%;left: 50%;-webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%);padding: 10px;">
        <img src="{% static 'frontend/img/loader.gif' %}" alt="Check our amazing website." style="width: 80px;"><br>
        <center><span style="color: #404040;font-size: 16px;">Loading...</span></center>
</div>
</div>