{% extends 'backend/layouts/base.html' %} 
{% load static %} 
{% block content %}
{% load widget_tweaks %}
{% load humanize %}
        <!-- Container Fluid-->
        <div class="container-fluid" id="container-wrapper">
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
            </ol>
          </div>

          <div class="row mb-3">
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card h-100">
                <div class="card-body">
                  <div class="row align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-uppercase mb-1">Wallet Balance</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">&#8358;{{ request.user.profile.wallet_balance|intcomma }}</div>
                      <div class="mt-2 mb-0 text-muted text-xs">
                        <span><a href="{% url 'fund_wallet' %}">Click here to fund your wallet</a></span>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-calendar fa-2x text-primary"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Earnings (Annual) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card h-100">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-uppercase mb-1">Total Transactions</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{ transactions|intcomma }}</div>
                      <div class="mt-2 mb-0 text-muted text-xs">
                        <span><a href="{% url 'transactions' %}">Click here to view more</a></span>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-shopping-cart fa-2x text-success"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- New User Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card h-100">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-uppercase mb-1">Date Registered</div>
                      <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ request.user.get_full_name }}</div>
                      <div class="mt-2 mb-0 text-muted text-xs">
                        <span>Member since: {{ request.user.date_joined|date:"jS M, Y" }} </span>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-users fa-2x text-info"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Pending Requests Card Example -->
            {% if request.user.is_superuser %}
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card h-100">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-uppercase mb-1">Api Wallet Balance</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">&#8358;{{ site_balance|intcomma }}</div>
                      <div class="mt-2 mb-0 text-muted text-xs">
                  
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-comments fa-2x text-warning"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% else %}
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card h-100">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-uppercase mb-1">Notification</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{% if notifications.notification is not None %} {{ notifications.notification  }} {% else %} ALL SERVICES ARE AVAILABLE {% endif %}</div>
                      <div class="mt-2 mb-0 text-muted text-xs">
                  
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-comments fa-2x text-warning"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endif %}

            
          </div>
          <!--Row-->


         

        </div>
        <!---Container Fluid-->
      </div>
     {% endblock %}