{% extends 'backend/layouts/base.html' %} 
{% load static %} 
{% block content %}
{% load widget_tweaks %}
<!-- Container Fluid-->
        <div class="container-fluid" id="container-wrapper">
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Support</h1>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Support</li>
            </ol>
          </div>
			
			<div class="row">
            <div class="col-lg-6">
              <!-- Form Basic -->
              <div class="card mb-4">
			  	<div class="card-body">
				<b>CALL:</b> 09050026406<br>(Monday to Friday: 9am - 4pm, Saturday: 10am - 2pm)<br>
					You can also chat with us or drop a message for us. <br>
					 
				</div>
			  </div>
			 </div>
			</div>						
        </div>
        <!---Container Fluid-->
      </div>
      {% endblock %}
      