{% extends 'backend/layouts/base.html' %} 
{% load static %} 
{% block content %}
{% load widget_tweaks %}
<!-- Topbar -->
<!-- Container Fluid-->
<div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Data Bundles</h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Data Bundles</li>
      </ol>
    </div>
      
      <div class="row">
      <div class="col-lg-6">
        <!-- Form Basic -->
        <div class="card mb-4">
            <div class="card-body">
                              <strong>To Check Data balance</strong>: 
                   <br>
                   <em><strong>Airtel:</strong></em> *123*10# or *140#, 
                   <em><strong>Etisalat:</strong></em> *228#,
                   <em><strong>MTN:</strong></em> *131*4#,
                   <em><strong>GLO:</strong></em> *127*0#
                   <br>  
                   <div class="network-logo">
                    <img src="{% static 'backend/img/mtn.jpeg' %}" alt="MTN LOGO" id="mtn">
                    <img src="{% static 'backend/img/airtel.png' %}" alt="AIRTEL LOGO" id="airtel">
                    <img src="{% static 'backend/img/glo.png' %}" alt="GLO LOGO" id="glo">
                    <img src="{% static 'backend/img/9mobile.jpg' %}" alt="9MOBILE LOGO" id="9mobile">
                </div>
                <form method="post" name="frm1" id="d_data_form">
                    {% csrf_token %}
              <div class="form-group">
               Network
              <select name="network" id="network" class="form-control" onChange="getnewbundles(this.value)" required>                              
                <option value="">Select</option>
                <option value="airtel">Airtel</option>							  
                <option value="etisalat">9Mobile</option>
                <option value="mtn">MTN</option>
                <option value="glo">GLO</option>
              </select>
              </div>
              <div class="form-group">
               <div id='dataloader' style=" color: #000099; display: none">Loading data bundles...</div>
                  Data Bundle/Price
                  <select name="bundles" id="bundles" onChange="getprice(this.value)" class="form-control">
                  <option value="0" selected >Select</option>
                  </select>					
              </div>
              <input type="hidden" name="desc" id="desc">
              <div class="form-group">
              Phone Number
                <input type="number" name="phone"  id="phone" class="form-control" />
              </div>
              <div class="form-group">
                  <button  id="topup" class="btn btn-primary">Top up</button>						
              </div>	
              </form>
                            
                  
          </div>
        </div>
       </div>
      </div>						
  </div>
  <!---Container Fluid-->
</div>
<style>
    .network-logo{
        text-align:center;
        
    }
    .network-logo img{
      width:100px;
      display:none;  
    }
</style>
<script>
    $('#network').on('change', function() {
        if(this.value == "mtn"){
            $('#mtn').show()
        }else{
            $('#mtn').hide()
        }
        if(this.value == "airtel"){
            $('#airtel').show()
        }else{
            $('#airtel').hide()
        }
        if(this.value == "etisalat"){
            $('#9mobile').show()
        }else{
            $('#9mobile').hide()
        }
        if(this.value == "glo"){
            $('#glo').show()
        }else{
            $('#glo').hide()
        }

        if(this.value=='none' || this.value==''){
            swal("Error", "Select Network","error");
            exit;
        }

        const csrftoken = document.querySelector("[name=csrfmiddlewaretoken]").value;

        $('#dataloader').show();
        $.ajax({
            type: "POST",
            url: "/get-bundle-list/",
            headers: { "X-CSRFToken": csrftoken },
            data: { 'network': this.value },
        
            success: function (resp,status) {
              console.log(resp)
              $('#dataloader').hide();
              var products=resp.products;
              var ncount=products.length;
              //console.log(ncount)

              document.getElementById('bundles').options.length = 0;
				var x = document.getElementById("bundles");
				var option = document.createElement("option");
				option.value = 0;
				option.innerHTML = "Select";
				x.add(option);

                var icont;
				var icont1;
				var dvalue;
				var dtext;
				var disprice;

              for (var i=0; i<ncount; i++){
                icont1=products[i];
                //console.log(icont1)
                //icont1=icont.split("*");
                dvalue=icont1['amount'];
                //console.log(dvalue)
                //disprice=dvalue-(dvalue*mdis);
                disprice = parseInt(dvalue).toFixed(2);
                //disprice_airtel = dvalue;
                
                dtext=icont1['data'] +" = &#8358;" + disprice;
                
               
                				
                var option = document.createElement("option");
                option.value = dvalue;
                option.innerHTML = dtext;
                x.appendChild(option);

            }	

            
            },
            error: function (xhr, status, error) {
              var err = eval("(" + xhr.responseText + ")");
              
              
              console.log(err);
            }

          });

    });

    function getprice(a){
       // console.log(a);
    }
    
    
    

    $("#topup").on("click", function (ev) {
        // alert("yes");
        ev.preventDefault();
        //Validation
        const network = $('#network').val()
        const phone = $('#phone').val()
        const bundles = $('#bundles').val()
        const reg = new RegExp("/^[0][0-9]{11}$/");
        const desc = $( "#bundles option:selected" ).text();
        $('#desc').val(desc)
        //console.log(desc)
       
        if(network == ""){ 
            swal("Network Selection Error","Please select one!","error");
            return false;
        }
        if(bundles == "" || bundles == 0){ 
            swal("Data Selection Error","Please select one","error");
            return false;
        }
        if(phone == ""){ 
            swal("Phone Number Error","Phone number is required!","error");
            return false;
        }
        
        if (phone.length != 11 && reg.test(phone) == false) {
            swal("Phone Number Error","Invalid phone number","error");
            return false;
        }
        

        swal({
            title: "Ready?",
            text: "Are you sure you want to continue?",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        }).then((isConfirm) => {
            if(!isConfirm) return;
            //$('#topup').html('Processing...')
            
            const csrftoken = document.querySelector("[name=csrfmiddlewaretoken]").value;
            const serializedDData = $("#d_data_form").serialize();
            console.log(serializedDData)
            $('#topup').attr('disabled',true);
            $.ajax({
                type: "POST",
                url: "/direct-data-topup/",
                headers: { "X-CSRFToken": csrftoken },
                data: serializedDData,
            
                success: function (resp,status) {
                  console.log(resp)
                  if(resp.message == "Insufficient Funds!"){
                    swal("Error", resp.message,"error");
                  }else{
                    swal("Done!", resp.message,"success");
                  }
                  $('#topup').removeAttr('disabled');
                  $('#d_data_form')[0].reset()
                
                },
                error: function (xhr, status, error) {
                  var err = eval("(" + xhr.responseText + ")");
                  swal("Error",err.message,"error");
                  $('#d_data_form')[0].reset()
                  console.log(err);
                }

              });

        });
        
      });
</script>
    {% endblock %}